body {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

@media only screen and (max-width: 800px) {
  body {
    justify-content: left;
    padding-left: 50px;
  }
}

* {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
}

.menu {
  position: relative;
  padding: 30px 0;
}

@media only screen and (max-width: 800px) {
  .menu > ol {
    display: block;
  }
}

.menu .menu-item {
  display: inline-block;
  position: relative;
}

.menu .menu-item:hover .sub-menu {
  opacity: 1;
}

.menu .menu-item:hover .sub-menu li:nth-child(1) {
  animation: subMenuAnimation 300ms 100ms ease-in-out forwards;
}

.menu .menu-item:hover .sub-menu li:nth-child(2) {
  animation: subMenuAnimation 300ms 200ms ease-in-out forwards;
}

.menu .menu-item:hover .sub-menu li:nth-child(3) {
  animation: subMenuAnimation 300ms 300ms ease-in-out forwards;
}

.menu .menu-item > a {
  color: #fff;
  text-decoration: none;
  font-size: 2.5vw;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 25px;
  display: block;
}

@media only screen and (max-width: 800px) {
  .menu .menu-item > a {
    margin: 30px 0;
    font-size: 30px;
  }
}

.menu .sub-menu {
  padding: 28px 25px 0;
  position: absolute;
  left: 0;
  opacity: 0;
}

@media only screen and (max-width: 800px) {
  .menu .sub-menu {
    left: 100%;
    top: -32px;
  }
}

.menu .sub-menu li {
  opacity: 0;
}

.menu .sub-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1vw;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 12px 0;
  display: block;
  white-space: nowrap;
  text-transform: uppercase;
  transition: color 0.3s cubic-bezier(0.13, 1.07, 0.84, 1);
}

@media only screen and (max-width: 1080px) {
  .menu .sub-menu li a {
    font-size: 13px;
  }
}

.menu .sub-menu li a:hover {
  color: #f34ea4;
}

.menu .menu-shape {
  position: absolute;
  left: -62px;
  top: -55px;
  z-index: -1;
}

@media only screen and (max-width: 1440px) {
  .menu .menu-shape {
    left: -32px;
  }
}

@media only screen and (max-width: 1180px) {
  .menu .menu-shape {
    left: -15px;
    top: -62px;
  }
}

@media only screen and (max-width: 800px) {
  .menu .menu-shape {
    left: -35px;
  }
}

.menu .menu-shape svg {
  position: relative;
  display: block;
  width: 10vw;
  height: 10vh;
  min-height: 150px;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .menu .menu-shape svg {
    width: 80px;
    height: 80px;
  }
}

@keyframes subMenuAnimation {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.info {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  width: 100%;
  padding-bottom: 30px;
  font-size: 20px;
}

.link {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  z-index: 9999;
}

.link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.link .fa {
  font-size: 28px;
  margin-right: 8px;
  color: #fff;
}
